.form{
  margin: 10px;
  label{
    font-size: 20px;
  }
}
input{
  padding: 5px;
  width: 100%;
  margin: 5px;
  border: 1px solid black;
  background-color: #b5e3f2;
  color: black;
  outline: none;
  &:focus{
    border: 1px solid red;
    border-radius: 6px;
  }
}
button[type='submit']{
    background-color: #b5e3f2;
    padding:5px ;
    outline: none;
    border: 1px solid red;
    cursor: pointer;
}