/*COMMON*/
html{
    /*overflow: hidden;*/
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    width: 1168px;
    margin: 0 auto;


}
.section-title{
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18b4cf;
    margin-bottom: 51px;

}
.section-new-title-center{
    padding: 41px 24px 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    margin-bottom: 22px;

}
.section-new-title-top{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 14px 23px 0;
    background-color: #f9f7f7;

}
.section-new-title{
    padding: 14px 24px 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    margin-bottom: 22px;

}
.news-text{
    font-size: 14px;
    text-align: right;
    color: #5b6469;
    word-spacing: 1px;
    padding: 0  24px 21px;

}
.img-fluid{
    min-width: 100%;
}

/*HEADER*/
.header{
    background-color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.header-img{
    display: flex;
    margin-left: 21px;
    flex: 1 1 auto;
    align-items: center;

}
header-nav-item{
    width: 50px;
    height: 50px;
}
.header-title{
    color: #ffffff;
    font-size: 22px;
    margin-left: 27px;

}
.header-title:hover{
    color: #89ca62;
}
a {
    text-decoration: none;
}
.header-nav-link:hover{
    color: #14b9d5;

}
.header-nav-menu{
    display: flex;

}
.header-nav{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;

}
.header-look{
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;

}
.header-look-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 70px;
    background: #171a1c;
    cursor: pointer;

}
.header-nav-link{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 36px;
    word-spacing: 2px;
    background-color:#89ca62;
    color: black;
    border: 3px solid #18b8d6;
    padding: 5px;
    border-radius: 2px;


}

/*MAIN*/

.news{
    display: flex;
    flex-direction: column;
    background: url(../img/header-bg.jpeg) center / cover no-repeat;
    justify-content: center;
    align-items: center;
    padding: 132px 0 145px;
    background-attachment: fixed;

}
.news-title{
    font-size: 27px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 44px;

}
.news-btn{
    width: 170px;
    background-color: #89ca62;
    border: 1px solid #89ca62;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 16px 0

}
.news-btn:hover{
    box-shadow: inset 2px 2px 4px yellow;
    transition: .4s;
    border: 1px solid #14b9d5;

}
.news-btn:nth-child(2){
    background-color: #14b9d5;
    margin-left: 20px;

}

/*MAIN-POSTS*/

.posts{
    background-color: #f2f2f2;
    padding-bottom: 72px;
    padding-top: 46px;

}
.post-title{
    font-size: 27px;
    text-transform: uppercase;
    color: #18b4cf;
    margin-bottom: 52px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}
.post-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 31px;

}
.posts-text{
    border: 1px solid #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    color: #353a3d;
    background-color: #ffffff;

}
.post-places{
    margin-bottom: 31px;

}

/*MOST POPULAR CLIENT*/

.popular-client{
    /*margin-bottom: 53px;*/
    /*background: url("../img/parallax-bg.jpeg") center / cover no-repeat ;*/
    /*background-attachment: fixed;*/
    perspective: 1px;
    transform-style: preserve-3d ;
    overflow-x: hidden;
    overflow-y: auto;

}
.parallax{
    min-height: 100vh;
    transform-style: preserve-3d;
    box-sizing: border-box;
    padding-top: 30%;
    margin-bottom: 53px;

}
.parallax::before{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    min-height: 100%;
    background: url("../img/parallax-bg.jpeg") center / cover no-repeat;
    /*background-attachment: fixed;*/
    transform: translateZ(-1px) scale(2);

}

.popular-client-title{
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    padding-top: 201px;

}


.popular-client-title::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    margin: 55px auto 60px;


}
.popular-client-block{
    display: grid;
    grid-template-columns: 207px 135px 172px 141px;
    grid-template-rows: 1fr;
    align-items: baseline;
    grid-gap: 74px;
    justify-content: center;

}
.client-block{
    margin-bottom: 197px;

}

/* TOP RATE  */

.top-rate {
    margin: 63px 0 60px;


}
.top-rate-block{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;

}
.top-rate-img {
    width: 100%;

}
/*HOT NEWS*/

.hot-news-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 259px 1fr 1fr 259px;
    grid-template-areas:    "img-1 img-1 img-1 img-2"
                            "img-3 img-3 img-4 img-4 "
                            "img-5 img-5 img-6 img-6 "
                            "img-7 img-8 img-8 img-8 ";
    grid-row-gap: 42px;
    grid-column-gap: 30px;
    margin-bottom: 71px;
}
.news1{
    grid-area: img-1;
    display: flex;
    background-color: #f9f7f7;;

}
.news2{
    grid-area: img-2;
    background-color: #f9f7f7;
}
.news3{
    grid-area: img-3;
    background-color: #f9f7f7;
}
.news4{
    grid-area: img-4;
    background-color: #f9f7f7;
}
.news5{
    grid-area: img-5;
    background-color: #f9f7f7;
}
.news6{
    grid-area: img-6;
    background-color: #f9f7f7;
}
.news7{
    grid-area: img-7;
    background-color: #f9f7f7;
}
.news8{
    grid-area: img-8;
    display: flex;
    background-color: #f9f7f7;
}
.news-text-img{
    width: 390px;
}

/*FOOTER*/


.footer{
    background-color: #1d2124;

}
.footer-block{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer-text{
    font-size: 14px;
    color: #c3c4c5;
    text-align: left;
    padding: 34px 0;
}
.footer-icon-text{

}
.button_Up {
    width: 100px;
    background: #b9b1b4;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 10%;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 19px;
}
#button_Up {
    display: inline-block;
    background-color: #FF9800;
    width: 71px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #000000;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}
#button_Up:hover {
    cursor: pointer;
    background-color: #333;
}
#button_Up:active {
    background-color: #555;
}
#button_Up.show {
    opacity: 1;
    visibility: visible;
}
#slideToggle{
    display: inline-block;
    background-color: #89ca62;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #18b8d6;
    text-shadow: 1px 1px yellow;
}
#slideToggle:hover{
    background-color: #333;
}