.Card{
    display: flex;
    flex-wrap: wrap;
    &-right{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    };
    &-left{
    width: 40%;
    padding-top: 30px;
    text-align: center;
    }
    }
