/**************COMMON************/

.container{
    width: 1160px;
    margin: 0 auto;
}
.section-header-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: "MontserratThin",sans-serif;
    color: #4E4E4E;
    letter-spacing: 2px;
    font-weight: 100;
    position: relative;
}
.section-header-title::after{
    display: block;
    content: '';
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -38%;
    left: 47%;
    box-shadow: 12px 6px   #18CFAB;
}
.header-btn-first,.header-btn-second{
    box-shadow: 0 -4px white;
    padding: 16px;
    border-radius: 4px;
    background-color: #14cfaa;
    color: #FFFFFF;
    outline: none;
    text-transform: uppercase;
    margin-right: 26px;
    cursor: pointer;
    border: none;
}
a{
    text-decoration: none;
}

/*************HEADER*******************/

header{
    background: url("../image/header_back.png") center/cover no-repeat fixed;
    margin-bottom: 4px;
}
.header-darkness{
    background-color:rgba(94, 93, 88, 0.6) ;
}
#hexagon {
    width: 64px;
    height: 35px;
    background: #14cfaa;
    position: relative;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-bottom: 25px solid #14cfaa;
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-top: 25px solid #14cfaa;
}
.header-nav-bar{
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
}
.header-nav-menu{
    list-style: none;
    display: flex;
}
.header-nav-link{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    align-items: center;
    font-family: "Montserrat",sans-serif;;
}
.header-nav-item{
    padding: 49px 21px 48px 21px;
}
.header-look{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-look-block{
    cursor: pointer;
}
.header-img{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}
.header-logo-link{
    display: flex;
}
.header-title{
    color: #FFFFFF;
    font-family: "MontserratThin",sans-serif;;
    font-weight: lighter;
    font-size: 32px;
    margin-left: 10px;
    word-spacing: -12px;
    letter-spacing: 2px;
}
.header-ham{
    font-family: "Montserrat",sans-serif;;
    font-weight: normal;
    color: #14cfaa;
}
a.header-nav-link:hover{
    color:#23c5a5;
    padding-bottom: 51px;
    border-bottom: 2px solid #18CFAB;
}
.header-main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 264px;
    padding-bottom: 243px;
}
.header-main-title-first{
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    word-spacing: 1px;
    margin-bottom: 67px;
    letter-spacing: -1px;
    margin-top: 13px;
}
.header-main-theme{
    color: #14cfaa;
}
.header-main-title-second{
    font-family: "Montserrat",sans-serif;
    font-size: 78px;
    line-height: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.header-main-title-third{
    font-family: "MontserratThin",sans-serif;
    font-weight: lighter;
    font-size: 34px;
    line-height: 1px;
    margin-top: 70px;
    color: #D4D4D4;
    margin-bottom: 131px;
}
.header-title-button{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}
.header-btn-second{
    background-color: #04caf6;
}

/*****************_CONTENT_STEP**************/

.steps{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 83px;
}
.steps-icon-support:nth-child(odd){
    background-color: #1c2a33;
    width: 100%;
}
.steps-icon-support:nth-child(even){
    background-color: #14cfaa;
    width: 100%;
}
.steps-icon-support{
    text-align: center;
    padding-top: 95px;
    padding-bottom: 110px;
}
.steps-icon-support img{
    width: 93px;
    height: 90px;
}
.steps-icon-text,.steps-icon-text-other{
    margin-top: 49px;
    text-transform: uppercase;
    color: #15c5a3;
    font-family: "MontserratThin",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.steps-icon-text-other{
    color: #FFFFFF;
}

/****************MAIN_SECTION_ARTICLE********************/

.article-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 69px;
    margin-bottom: 28px;
}
.article-nav-item{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 39px;
    color: #717171;
    align-items: center;
    font-family: "MontserratThin",sans-serif;
    padding: 12px 44px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    cursor: pointer;
}
.article-nav-text{
    padding-left: 15px;
    font-family: "MontserratThin",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
.article-container-test{
    display: flex;
}
.article-container-tubs {
    display: none;
}
.article-container-tubs.active{
    display: flex;
    margin-bottom: 91px;
}
.article-nav-item.active{
    display: block;
    background-color: #14cfaa;
    color: #FFFFFF;
    position: relative;
}
.article-nav-item.active::after{
    content: '';
    border: 14px solid transparent;
    border-top: 10px solid #14cfaa;
    position: absolute;
    top: 100%;
    left: 43%;
}
.img-fluid{
    background-position: center;
    width: 192px;
    height: 139px;
}
.article-container{
    display: flex;
}
.section-background{
    background: url("../image/second_background.png") center/cover no-repeat;
}
.section-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 126px 0 127px 0 ;
}
.section-title{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}
.section-text{
    margin-bottom: 67px;
    font-family: "MontserratThin",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}
.header-btn-first.second-btn{
    margin: 0;
}

/****************MAIN_SECTION_AMAZING****************/

.section-amazing{
    padding-top: 96px;
    background-color: #E9EDEF;
}
.section-amazing-menu{
    display: flex;
    justify-content: center;
    margin: 70px 0;
}
.section-amazing-nav-item{
    padding: 19px;
    align-items: center;
    font-family: "MontserratThin",sans-serif;
    font-size: 14px;
    border: 1px solid #DADADA;
    cursor: pointer;
    color: #717171;
    background-color: #E9EDEF;
}
.section-amazing-galary{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-wrap: wrap;
}
.section-galary-amazing{
    background-color: #E9EDEF;
    padding-bottom: 90px;
}
.section-btn-more{
    display: flex;
    justify-content: center;
}
.section-btn{
    font-size: 14px;
    margin: 70px 0 0 0 ;
    background-color: #18CFAB;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 22px;
    border-right: 6px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}
.second-btn-img{
    padding: 22px;
}
.section-amazing-nav-item.active{
    display: block;
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.section-amazing-img.active{
    display: flex;
}
.section-amazing-img{
    display: none;
}
.section-amazing-img-hide{
    display: none;
}
.section-block-image{
    position: relative;
}
.section-block-image:hover>.section-hidden{
    opacity: 1;
}
.section-hidden-link>.section-hidden-icon:hover{
    background-color: #18CFAB;
}
.fa-link,.fa-square{
    color:#18CFAB;
}
.section-hidden-icon:hover>.fas{
    color: #ffffff;
}
.section-hidden{
    position: absolute;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.section-hidden-link{
    display: flex;
    justify-content: center;
    margin-top: 60px;

}
.section-hidden-header{
    text-align: center;
    margin-top: 36px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #18CFAB;
}
.section-hidden-text{
    text-align: center;
    margin-top: 18px;
    font-family: "MontserratThin",sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
}
.section-hidden-icon{
    padding: 12px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    margin-left: 5px;

}
/*******************PRELOADER***********************/

.loader,
.loader:before,
.loader:after {
    background: #14cfaa;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #14cfaa;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

/*****************MAIN_SECTIION_BREAKING_NEWS********************/

.break-news{
    margin-bottom: 128px;
}
.break-news-title{
    display: flex;
    justify-content: center;
    margin: 82px 0 100px 0;
}
.break-news-block{
    margin-bottom: 30px;
    background-color: #F8FCFE;
    border: 1px solid #F2F4F5;
    position: relative;
}
.break-news-gallary{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.break-news-image{
    margin-bottom: 10px;
}
.break-news-post-title{
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    color: #717171;
}
.break-news-text{
    margin-left: 40px;
    font-family: "MontserratThin",sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #777777;
    padding-bottom: 12px;
}
.break-news-image-date{
    width: 55px;
    height: 50px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    right: 0;
}
.break-news-image-mount{
    font-family: "MontserratThin",sans-serif;
    font-size: 14px;
    line-height: 21px;
    padding: 3px 0 0 9px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    width: 38px;
}
.break-news-comment::before{
    content: '';
    padding-left: 4px;
    border-left: 1px solid #cdd0d1;
}
.break-news-link:hover > .break-news-post-title{
    color: #18CFAB;
}
.break-news-link:hover > .break-news-image-date{
    background-color: #18CFAB;
}

/********************MAIN_SECTION_theHAM************************/

.ham{
    background: url("../image/theHam/backgroundOfHam.png") center/ cover no-repeat;
    padding-bottom: 104px;
}
.ham-title{
    display: flex;
    justify-content: center;
    font-family: "MontserratThin",sans-serif;
    color: #FFFFFF;
    letter-spacing: 2px;
    padding: 98px 0 98px 0 ;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    position: relative;
}
.ham-title::after{
    display: block;
    content: '';
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: 33%;
    left: 47%;
    box-shadow: 12px 6px   #18CFAB;
}
.ham-block-img{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/***************SECTION_HAM_SLIDER******************/

.slider-img-fluid,.slider-img-fluid-ls2{
    width: 143px;
    height: 143px;
    border: 7px solid rgba(32,218,181, 0.2);
    border-radius: 50%;
    margin: 0 auto;
}
.slider-img-fluid-ls2{
    width: 61px;
    height: 61px;
}
.slick-slide img:hover{
    background: rgba(32,218,181, 0.3);
}
.slick-slide{
    position: relative;
}
.slider-block-info{
    text-align: center;
    position: absolute;
    top: -163px;
}
.slider-name{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-bottom: 8px;
}
.slider-text{
    font-family: "MontserratThin",sans-serif;
    font-size: 13px;
    color: #BBBBBB;
    letter-spacing: 1px;
}
.slider-title-information{
    font-family: "MontserratThin",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #BBBBBB;
    margin-bottom: 22px;
}
.ham2-slider{
     outline: none;
     cursor: pointer;
    margin-left: 59px;
 }
.ham-slider{
    outline: none;
   margin: 0 auto;

}
.slick-track > .ham-slider{
    margin-top: 150px;
    margin-bottom: 70px;
}
.sl2{
    width: 366px;
    margin: 0 auto;
}
.ham2-slider img {
    margin: 0 -6px;
}
.ham2-slider {
    margin-top: 14px;
}
.prev-slide, .next-slide{
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    cursor: pointer;
}
.prev-slide:hover, .next-slide:hover {
    background-color: #18CFAB;
}
.prev-slide{
    position: absolute;
    top: 40px;
    left: -32px;
}
.next-slide{
    position: absolute;
    top: 40px;
    right: -32px;
}
.next-slide-icon,.prev-slide-icon{
    padding: 6px 9px;
}
.slick-center {
    margin-top: 0;
}

/**********************FOOTER**********************/

footer{
    background: #22353F;
}
.footer-block{
    display: flex;
    justify-content: center;
    padding: 48px 0;
}
.footer-text{
    font-family: "MontserratThin",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    letter-spacing: 1px;
}
.footer-text-lite{
    color: #22746b;
}
