/*COMMON*/

.body{
    font-family: 'Myriad Pro Regular', Arial, Helvetica sans-serif;

}
.container{
    width: 1280px;
    margin: 0 auto;

}
.img-fluid{
    background-position: center;
    max-width: 100%;
    height: auto;

}

/*HEADER*/

.header{
    padding-top: 29px;
    margin-bottom: 26px;
}
.header-logo{
    margin-bottom: 22px;

}
.header-logo-link{
    font-size: 80px;
    -ms-text-align-last: right;
    text-align-last: right;
    text-decoration: none;
    color: #000000;

}
.header-logo-color{
    color: #4bcaff;

}

.header-menu-block{
    line-height: normal;
    background-color: #35444f;
    text-align: center;
    padding: 11px;
    border: 1px solid #222f3a;

}
.header-menu-item{
    display: inline-block;

}
.header-menu-link{
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 45px;

}
.header-menu-link:hover{
    transition: 0.4s;
    background-color: #222f3a;
    border-width: 0 1px;
    border-style: none solid;
    border-color: #222F3A #FFFFFF;

}

/*NAVBAR-LEFT*/

.navbar-left{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #35444F;
    width: 346px;
    vertical-align: top;
    margin-right: 42px;

}
.navbar-left-link{
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: #495863;
    padding: 15px 31px 22px;
    box-sizing: border-box;
    width: 100%;

}

.navbar-left-link:hover{
    transition: 0.4s;
    background-color: #DBDBDB;
    padding-left: 55px;


}

/*NAVBAR-RIGHT*/

.navbar-right{
    display: inline-block;
    box-sizing: border-box;

}
.navbar-right-block{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #35444F;
    width: 888px;
    margin-bottom: 25px;

}
.navbar-right-img{
    text-align: center;
    padding: 38px 282.5px;
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar-right-img:hover{
    transform: scale(1.1, 1.1);

}
.navbar-right-main-text{
    width: 885px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 20px;

}
.navbar-right-text{
    font-family: "Myriad Pro Regular","Myriad Arabic", Helvetica, sans-serif;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #2c2c2c;
    font-size: 18px;

}
.navbar-right-sub-text{
    margin-bottom: 26px;
    line-height: 1.5;
    font-size: 18px;
    color: #2c2c2c;

}

/*FOOTER-MENU*/

.footer{
    margin-bottom: 15px;


}
.footer-menu{
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 22px;

}
.footer-menu-item{
    display: inline-block;
    margin-right: 42px;

}
.footer-menu-link{
    font-size: 24px;
    color: #0c1927;
    text-decoration: none;

}
.footer-menu-link:hover{
     color: #3181A6;
     border-bottom: 1px solid #3181A6 ;

 }

.footer-copyright{
    display: inline-block;
    text-align: right;
    margin-left: 240px;
    font-size: 20px;
    color: #0c1927;

}
.footer-menu-color{
    background-color: #b4b7ba;

}
