/*ANIMATION*/

@keyframes toUp {
    0%{
    width: 0;
    height: 0;
    background-image: linear-gradient(to top, #f50000, #798b00) ;
    bottom: 0;
    opacity: 0;
}
100%{
    bottom: 42px;
    opacity: 1;
    width: 308px;
    height: 63px;
    background-color: #f26522;
}
}
@keyframes transformText {
    0% {
    color: #ffffff
    }
    100% {color: #f26522;
    }

}

/*COMMON*/

body{
    background: url("../img/main-bg.jpg") center / cover no-repeat;
    font-family: "lato", sans-serif;
    font-size: 18px;
    min-height: 100vh;

}
body::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.8;

}
.clearfix::after {
    content: ' ';
    display: table;
    clear: both;

}

.container{
    width: 1060px;
    margin: 0 auto;

}
.img-fluid{
    background-position: center;
    max-width: 100%;
    height: auto;

}
.img-border{
    box-sizing: border-box;
    width: 307px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #ffffff, #000000) 1 ;
}

.margin-text{
    margin-top: 22px;

}
.link-underline:hover{
    color: #f26522;

}
.container-hidden{
    position: absolute;
    opacity: 0;
    bottom: 42px;
    width: 308px;
    height: 63px;
    background-color: #f26522;

}
.container-hidden:nth-child(2n){
    width: 308px;

}
.container-hidden-from{
     font-size: 12px;
     color: #ffffff;
     text-align: left;
     margin-left: 16px;
     margin-top: 12px;


 }
.container-hidden-euro{
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    margin-left: 16px;
    margin-top: 7px;
    float: left;

}
.container-hidden-view{
    float: right;
    margin-top: 8px;
    margin-right: 14px;
    font-size: 14px;
    color: #ffffff;

}

.container-hidden-view::after{
    content: '\203A';
    color: #F8B18F;
    padding-left: 11px;


}
.top-img-shop:hover>.container-hidden,.top-img-seen:hover>.container-hidden,.top-img-food:hover>.container-hidden{
     animation: toUp .5s ease-in;
    animation-fill-mode: forwards;

}
.top-img-shop:hover > .margin-text,.top-img-seen:hover>.margin-text,.top-img-food:hover>.margin-text{
    animation: transformText .5s ease-in;
    animation-fill-mode: forwards;

}
.bot-img-walk:hover > .container-hidden,.bot-img-bar:hover > .container-hidden,.bot-img-art:hover > .container-hidden{
    animation: toUp .5s ease-in;
    animation-fill-mode: forwards;

}
.bot-img-walk:hover > .margin-text,.bot-img-art:hover>.margin-text,.bot-img-bar:hover>.margin-text{
    animation: transformText .5s ease-in;
    animation-fill-mode: forwards;

}

/*HEADER*/

.header{
    padding: 36px 0;
    position: relative;

}
.header-block-logo{
    display: block;
    width: 166px;
    float: left;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    height: 44px;

}
.header-block-logo:hover{
    color: #f26522;

}
.header-block-logo:hover >.header-logo-img {
    background-image: url('../img/logo-milan-hover.png');

}

.header-title{
    font-family: "Lato", sans-serif;
    font-size: 29px;
    line-height: 21px;

}
.header-title-holiday{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;

}
.header-title-link{
    text-decoration: none;
    color: #ffffff;

}
.header-logo-img{
    background-image: url('../img/logo_milan.png');
    float: left;
    margin-right: 11px;
    width: 46px;
    height: 44px;
    
}
.header-block-contact{
    float: right;

}

.header-email{
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 5px;

}
.header-phone{
    float: left;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-left: 80px;

}

/*MAIN CONTENT*/

.main-content{
    padding-bottom: 46px;
}
.content-top{
    margin-bottom: 58px;
    box-sizing: border-box;
    text-align: center;

}
.top-img-shop {
    float: left;
    margin-right: 69px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;

}

.top-img-seen{
    float: left;
    margin-right: 68px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;

}
.top-img-food{
    float: left;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;

}
.content-bot{
    box-sizing: border-box;
    text-align: center;


}
.bot-img-bar {
    float: left;
    margin-right: 69px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;

}

.bot-img-art{
    float: left;
    margin-right: 68px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;

}
.bot-img-walk{
    float: left;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;

}

/*FOOTER*/

.footer{
    padding-bottom: 15px;
    text-align: center;

}
.footer-text{
    font-size: 12px;
    color: #ffffff;
    position: relative;

}

.footer-text::before{
    content: '\00A9';
    position: absolute;
    left: 368px;

}