$borderRadius: 5px;
@mixin flexible {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.itemsRender{
  background: #cbdcea;
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  border-radius: $borderRadius;
  text-align: center;
}
.items-image{
  width: 100%;
}
.items-header{
  &-name{
    font-size: 18px;
    font-style: italic;
    padding: 5px;
    color: #7f7f7f;
  }
}
.items-body {
@include flexible;
  justify-content: center;
  &-text {
    font-size: 15px;
  }
  &-icon{
    padding-left: 15px;
  }
}
.items-footer{
  @include flexible;
  font-weight: bold;
  &-btn{
    background: black;
    color: white;
    width: 100px;
    border: none;
    outline: none;
    padding: 5px 0 ;
    border-radius: $borderRadius;
    cursor: pointer;
  }
}