$backgroundModalHeader : #222222;
$backgroundModalBody : #667a81;
$colorWhite: #fdf7f7;
$mainPadding: 20px;

@mixin fontFamily {
  font-family: Arial, Helvetica sans-serif;
  font-size: 18px;
  font-weight: bold;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal-wrapper{
  @include fontFamily;
  width: 600px;
  margin: 50px auto;
  color: $colorWhite;
  border: 1px solid $backgroundModalHeader;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.modal-header{
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: $mainPadding;
  background: $backgroundModalHeader;
  &-close{
      cursor: pointer;
      font-size: 18px;
      color: $colorWhite;
      font-weight: lighter;
  }
}
.modal-content{
  padding: 50px 20px;
  background:$backgroundModalBody;
  text-align: center;
  font-size: 24px;
}
.modal-footer{
  display: flex;
  justify-content: center;
  padding:$mainPadding;
  background:$backgroundModalBody ;
  &-btnOk,&-btnCancel{
    width: 100px;
    padding:10px;
    background: #b3382c;
    cursor: pointer;
    outline: none;
    color: $colorWhite;
    margin: 5px;
    border: none;
    border-radius: 5px;
  }
}
.overlay{
  background: rgba(22,20,27, 0.3) ;
  height: 100vh;
  padding-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s;
  width: 100vw;
}