/*COMMON*/

body{
    background: url(../img/bgimage.png) center / cover no-repeat;
    min-height: 100vh;


}
.text-color{
    color: #3CB878;
    text-decoration: none;
    font-size: 14px;

}
.text-color:hover{
    border-bottom: 1px solid #B1E3C9;
    transition: .4s;

}
.sign-un-text{
    font-size: 16px;
    color: #ffffff;

}
.clearfix::after{
    content: '';
    clear: both;
    display: table;

}
.reg-input{
    width: 322px;
    box-sizing: border-box;
    padding: 16px 17px 15px;
    margin-bottom: 9px;
    border: 1px solid #EBEBEB;
    outline: none;
    border-radius: 5px;

}
.reg-input:nth-child(5){
     margin-bottom: 22px;
 }

.reg-input::placeholder{
    font-size: 14px;

}
.reg-input:focus{
    box-shadow: 3px 2px 3px #DADADA;

}

/*HEADER*/

.header{
    background-color: rgba(0,0,0,.5);
    /*margin-bottom: 65px;*/
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;

}
.header-title{
    float: left;
    margin-left: 81px;
    padding: 18px;

}
.header-title-link{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
}
.header-title-link:hover{
    color: #3CB878;
    transition: .4s;

}

.header-icon{
    background-repeat: no-repeat;
    display: inline-block;
    margin: 18px 25px 18px 0;
    float: right;
    background-image: url(../sprite/css_sprites.png);

}
.header-text{
    float: right;
    margin-right: 75px;
    padding: 21px 0;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 24px;
    color: #FFFFFF;

}
.header-text::before{
    content: '';
    border-right: 1px solid #32302E;
    position: relative;
    right: 25px;

}

.calendar{
    width: 19px; height: 19px;
    background-position: -106px -49px;

}
.calendar:hover{
    width: 19px; height: 19px;
    background-position:  -106px -10px;
    transition: .4s;

}
.forum{
    width: 28px; height: 20px;
    background-position:  -10px -10px

}
.forum:hover{
    width: 28px; height: 20px;
    background-position:  -58px -10px;
    transition: .4s;
}
.jorney{
    width: 20px; height: 20px;
    background-position: -50px -50px;

}
.jorney:hover{
    width: 20px; height: 20px;
    background-position: -10px -50px;
    transition: .4s;

}
/*MAIN*/
/*Висота 748-56(хедер)-599(форма)=93/2=47*/
.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 29px 61px 32px;
    width: 444px;
    border-radius: 7px;
    box-sizing: border-box;
    /*margin-top: calc(100vh - 702px); !*748(висота)-56(хедер)-599(форма)=93/2=46  748-46=702*!*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/

}
.main-vertical-aline{


}
.main-sign-up{
    margin-bottom: 15px;
}
.main-sign-title{
    float: left;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #5c5c5c;
    position: relative;


}
.main-sign-title:before{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color:  #3cb878;
    position: absolute;
    top: 3px;
    right: 114px;

}
.main-log-up{
    float: right;
    padding-top: 3px;

}
.log-in-button{
    float: left;
    width: 157px;
    background-color: #305db8;
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration: none;

}

.log-in-button:last-child{
    background-color: #df4a32;
    float: right;
}

.log-in{
    margin-bottom: 37px;

}
.fa-facebook-f{
    color: #ffffff;
    padding: 13px 17px 13px 20px;

}
.fa-facebook-f:before{
    content: "\f39e";
    height: 20px;
    float: left;
}
.fa-facebook-f::after{
    content: '';
    border-right: 1px solid #2B54A5;
    position: relative;
    left: 16px;

}
.sign-un-text-facebook{
    padding: 12px 24px 16px 18px;
    font-size: 16px;
    color: #ffffff;

}
.fa-google-plus-g{
    color: #ffffff;
    padding: 15px 9px 15px 13px;

}
.fa-google-plus-g:before {
    content: "\f0d5";
    width: 25px;
    height: 16px;
    float: left;

}
.fa-google-plus-g::after{
    content: '';
    border-right: 1px solid #C8422D;
    position: relative;
    left: 9px;

}
.sign-un-text-google{
    color: #ffffff;
    padding: 14px 33px 13px 24px;
    font-size: 16px;

}
.main-separated{
    margin-bottom: 18px;

}
.main-separated-or{
    text-align: center;
    color: #8C8C8C;
    font-size: 14px;
    overflow: hidden;

}
.main-separated-or::after,.main-separated-or::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #EAEAEA;
    border: solid #FFF;
    border-width: 0 10px;

}
.main-separated-or::after{
    margin-right: -100%;

}
.main-separated-or::before{
    margin-left: -100%;

}

.reg-input-check{
    float:left;

}
.form-agree{
    float: left;
    padding-left: 10px;
    font-size: 14px;

}
.reg-submit{
    margin-top: 28px;
    width: 322px;
    box-sizing: border-box;
    background-color: #3cb878;
    border-radius: 3px;
    padding: 17px 100px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    cursor: pointer;

}
.reg-submit:hover{
    box-shadow: 1px 1px 1px #3cb878;

}
.reg-label{
    cursor: pointer;
}