@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "MontserratThin";
    src: url("Montserrat/Montserrat-Thin.ttf");
    font-style: normal;
}