.sidebar{
  padding: 10px 20px 20px 10px;
  display: flex;
  justify-content: space-between;
  background: #222222;
  &-is-active{
    color: red;

  }
  &-background{
    width: 100%;
  }
  &-link-block {
    display: flex;
    align-items: center;
  }
  &-favorite{
    margin-right: 22px;
  }
  &-favorite-link{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px black ;
    padding: 18px 22px;
    background: #b5e3f2;
    font-size: 20px;
    font-weight: bold;
  }
  &-title{
    font-size: 40px;
    padding:5px 10px;
    font-style: italic;
    box-shadow: 2px 2px 6px 2px black;
    cursor: pointer;
    background: #b5e3f2;
  }
  &-card{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px black ;
    padding: 10px;
    background: #b5e3f2;
    &-icon{
      width: 40px;
    }
    &-text{
      font-size: 20px;
      font-weight: bold;
    }
  }
}
a{
  text-decoration: none;
  color: #000;
  &:hover{
    color: red;
  }
}