/*COMMON*/

.container{
    width: 1192px;
    margin: 50px auto;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Arimo', Arial, sans-serif;

}
tr,td,th{
    box-shadow:  4px 0 3px -4px inset;

}
.table-price{
    font-size: 60px;
    color: #484848;
    text-align: center;
    padding: 12px 0 12px 21px;
    box-sizing: border-box;
    font-weight: bold;

}
.table-prise-super{
    vertical-align: super;
    font-size: 24px;
    font-weight: bold;

}
.table-price::after{
    content: "Per Month";
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    right: 32px;
    font-weight: normal;

}
.table-text{
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #535353;
    padding: 27px 0;
    line-height: 0;

}
.table-buttons{
    padding: 30px 0;
    text-align: center;

}
.table-btn{
    width: 192px;
    height: 49px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;

}
.table-btn:hover{
    transform: skew(-10deg);
    border-radius: 20px;
    transition: .4s;

}
.fas{
    padding-right: 12px;

}
/*MAIN BLOCK*/

.table{
    border-width: 24px 30px 32px 22px;
    border-style: solid;
    border-color: #3a4965;

}

.table-choose{
    font-size: 18px;
    padding: 54px 10px 42px;
    color: #A1A1A1;
    text-transform: uppercase;
    width: 310px;
    box-sizing: border-box;
    table-layout: auto;

}
.table-choose-plan{
    font-size: 30px;
    color: #484848;
    font-weight: bold;
    float: left;
    margin-left: 33px;

}
.table-choose-position{
    box-sizing: border-box;
    text-transform: uppercase;
    width: 277px;
    text-align: center;
    font-size: 24px;
    padding: 14px ;
    color: #ffff;
    font-weight: bold;
    
}
.table-standart{
    background-color: #89c331;

}
.table-ultimate{
    background-color: #f04a56;
    font-size: 30px;

}
.table-premium{
    background-color: #20807c;

}

.btn-black{
    background-color: #484848;
    box-shadow: 0 9px 0 #404040;
    border: 1px solid #484848 ;

}
.btn-blue{
    background-color: #20807c;
    box-shadow: 0 9px 0 #16736f;
    border: 1px solid #20807c;


}
.btn-green{
    background-color: #89c331;
    box-shadow: 0 9px 0 #79b027;
    border: 1px solid #89c331;


}
.btn-red{
    background-color: #f04a56;
    box-shadow: 0 9px 0 #df3a46;
    border: 1px solid #f04a56;
    
}
.table-button-click{
    background-color: #dddddd;

}
.table-row-bgc{
    background-color: #f2f2f2;

}
tr:nth-child(even){
    background-color: #e3e3e3;

}
thead>tr:nth-child(2){
    background-color: #ffffff;

}

