*{
    margin: 0;
    padding: 0;
}
@keyframes starWarsIsGoing{
    from
        {
            padding-top: 50%;
            transform: rotateX(15deg);
        }
    to
        {
        padding-top: 0;
        margin-top: -60px;
        transform: rotateX(20deg);
        }
}


body{
    perspective: 150px;
    background-color: #111110;
    border-top: 40px solid #000000;
    border-bottom: 40px solid #000000;
}
.container{

    width: 45%;
    height: 100vh;
    margin: 0 auto;
    animation: starWarsIsGoing 10s ease-in infinite;
}
.color{
    text-transform: uppercase;
    font-size: 24px;
    color: #fccf03;
    text-align: center;
}
.p-block{
    font-size: 18px;
}