.fork{
  background: url("../img/sectionBackground.png") center / cover no-repeat;
  padding-top: 108px;
  padding-bottom: 29px;
  &__title{
    text-align: center;
    @include font('Montserrat',normal,bold,48px,50px);
    color: $COLOR_white;
    margin-bottom: 82px;
    @media (max-width: 992px){
      @include fontChange(42px,44px)
    }
    @media (max-width: 768px){
      @include fontChange(31px,34px);
      margin-bottom: 60px;
    }
    @media (max-width: 481px){
      @include fontChange(36px,48px);
      margin-bottom: 53px;
    }
  }
  .company{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 67px;
    text-align: center;
    align-items: end;
    padding-bottom: 118px;
    @media (max-width: 992px){
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 58px;
      grid-column-gap: 66px;
  }
    @media (max-width: 768px){
      grid-row-gap: 50px;
      grid-column-gap: 13px;
      align-items: center;
    }
    @media (max-width: 481px){
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 45px;
      padding-bottom: 37px;
    }
    &__block{
      &__img {
        margin-bottom: 28px;
      }
      &__text{
        @include font('Lato',italic,bold,16px,24px);
        color: $COLOR_white;
        @media (max-width: 768px){
          @include fontChange(14px, 20px)
        }
      }
    }
  }
  &__text{
    width: 887px;
    margin: 0 auto;
    text-align: center;
    @include font('Lato',normal,normal,14px,21px);
    color: #A291A5;
    padding-bottom: 18px;
    @media (max-width: 992px){
      width: 704px;
    }
    @media (max-width: 786px){
      width: 460px;
    }
    @media (max-width: 481px){
      width: 253px;
    }
  }
  hr{
    border: none;
    background-color: #594b5b;
    height: 2px;
    margin: 0 auto;
    width: 720px;
    @media (max-width: 992px){
      width: 555px;
    }
    @media (max-width: 768px){
      width: 400px
    }
    @media (max-width: 481px){
      width: 200px;
    }
  }
}
