.container {
  @include container(1200px);
}
header{
  background: url("../img/headerBackground.png") center / cover no-repeat;
  width: 100%;
  height: auto;
}
.showMenu{
  display: none;
  cursor: pointer;
  &__first,&__second,&__third{
    width: 26px;
    height: 3px;
    background-color: $COLOR_white;
    margin: 6px 0;
    transition: 0.4s;
  }
  &__first{
    width: 15px;
    margin-left: 11px;
  }
}
.nav{
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr;
  padding-top: 29px;
  align-items: center;
  justify-items: end;
  &__logo{
    display: flex;
    align-items: center;
    @include links;
    &-title{
      @include font('Lato',normal,bold,24px,16px);
      text-transform: uppercase;
      color: #8D81AC;
      margin-left: 17px;
    }
  }
  &__logo:hover > img  {
   content: url("../img/header_logo.png");
  }
  &__logo:hover > p  {
    color:$COLOR_white

  }
}
.nav__menu{
  display: flex;
  &_link{
    @include links;
    @include font("Montserrat", normal,bold,16px,24px);
    color: $COLOR_pageMain;
  }
  &_link:hover{
    color: $COLOR_white;
  }
  &__item{
    margin-right: 48px;
  }
  &__btn{
    @include btn (145px, 38px, 16px,0)
  }
  &__btn:hover{
    background-color: $COLOR_white;
    color: $COLOR_pageMain;
  }
}
.header{
  padding: 127px 0 459px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__title{
    @include font('Montserrat', normal,bold,82px,82px);
    color: $COLOR_white;
    margin-bottom: 19px;
  }
  &__text{
    @include font('Lato', normal,normal,30px,30px);
    color: $COLOR_pageMain;
    margin-bottom: 19px;
    text-align: center;
    &__after{
      @include font('Montserrat', normal,normal,16px,16px);
      color: $COLOR_pageText;
    }
  }
}
.buttonsMobile{
  display: none;
}
@media (max-width: 1200px){
  .container {
    @include containerMedia(993px)
  }
}
@media (max-width: 992px){
  .container {
    @include containerMedia(720px)
  }
  .blockColor{
    background-color: #27262A;
  }
  .nav{
    display: grid;
    justify-items: normal;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    grid-template-areas:
    'logo btn'
    'menu menu';
    &__logo{
      grid-area:logo ;
    }
      &__menu{
        grid-area:menu ;
        justify-self: center;
        &__item:last-child{
          margin-right: 0;
        }
        &__btn{
          grid-area:btn ;
          justify-self: end;
        }
    }
  }
  .header{
    padding-top: 69px;
    &__title{
     @include fontChange(72px,72px);
    }
    &__text{
      @include fontChange(24px,24px);
      &__after{
        @include fontChange(14px,14px);
      }
    }
  }
}
@media (max-width: 768px){
  .container {
    @include containerMedia(481px)
  }
.nav__menu__item{
  margin-right: 9px;
}
  .header__text{
    @include fontChange(18px,18px);
  }
}
@media (max-width: 480px) {
  .container {
    @include containerMedia(320px)
  }
  .showMenu{
    display: inline-block;
    justify-self: end;
  }
  .buttonsMobile{
    justify-self: end;
    display: block;
  }
  .nav {
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 32px;
    &__menu,&__logo-title {
      display: none;
    }
    &__menu{
      position: absolute;
      z-index: 1;
      background-color: #333333;
      top: 32px;
      width: 300px;
      justify-self: baseline;
      &__item{
        padding: 29px 0 21px 5px;
        margin: 0;
        border-bottom: 3px solid #3a3a3a;
      }
      &_link{
        @include fontChange(26px, 26px);
        font-family: 'Montserrat',sans-serif;
        font-weight: normal;
        color: $COLOR_white;
        padding: 10px 0 10px 22px;
      }
      &__item:hover > &_link{
        color: $COLOR_pageMain;
        border-left: 8px solid $COLOR_pageMain;
      }
    }
    .active{
      display: block;
    }
    &__menu__btn{
      width: 119px;
      height: 37px;
    }
  }
  .header{
    padding-top: 50px;
    &__title{
      @include fontChange(48px,48px);
    }
    &__text{
      @include fontChange(18px,24px);
    }
  }
}
.disable{
  display: none;
}
.close {
  position: absolute;
  right: 0;
  top: 32px;
  width: 32px;
  height: 22px;
  opacity: 1;
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $COLOR_white;
  }
    &:before {
  transform: rotate(45deg);
    }
    &:after {
  transform: rotate(-45deg);
}
}
.menu-icon {
  position: relative;
  width: 26px;
  height: 3px;
  background-color: #fff;
  margin-right: 3px;

  &::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 18px;
    margin-left: 8px;
    height: 3px;
    background-color: #fff;
  }
  &::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 26px;
    height: 3px;
    background-color: #fff;
  }
}
.download{
  color: $COLOR_white;
  @include font('Montserrat', normal, normal, 21px,22px);
  display: block;
  margin: 0 auto;
  border: 2px solid $COLOR_pageMain;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 18px 61px;
  background-color: $COLOR_pageMain;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: -32px;
  &:hover{
    background-color: $COLOR_white;
    color: $COLOR_pageMain;
  }
  @media (max-width: 480px) {
    @include fontChange(18px,20px);
    padding: 10px 29px;
    bottom: -19px;
  }
}