@mixin links{
  text-decoration: none;
  list-style: none;
}
@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin container($width){
  width: $width;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
@mixin containerMedia($width){
  max-width: $width;
  padding: 0 10px;
  box-sizing: border-box;
}
@mixin fontChange($fz,$lh){
  font-size:$fz ;
  line-height:$lh ;
}
@mixin font($ff,$fs,$fw,$fz,$lh){
  font-family: $ff, sans-serif;
  font-style:$fs;
  font-weight:$fw;
  font-size: $fz;
  line-height:$lh;
}
@mixin btn ($width, $height, $fz, $lh){
  border-radius: 40px;
  background-color: $COLOR_pageMain;
  width:$width ;
  height: $height ;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: $fz;
  line-height: $lh;
  color: $COLOR_white;

}