*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1060px;
    margin: 0 auto;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}
.header{
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 32px;
}
.header-menu-list{
    list-style-type: none;
    text-align: center;
}
.header-menu-list-item{
    display: inline-block;
    margin-right: 70px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 23px;
    font-weight: 600;
    text-align: center;
}
.header-menu-list-item-link{
    text-decoration: none;
    color: #16a085;
}
.main-container-images{
    background: url("../images/background-image.png") center/cover no-repeat;
    padding-bottom: 787px;
}
.main-container-header{
    padding-top: 56px;
    padding-bottom: 34px;
    font-size: 32px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    line-height: 23px;
    letter-spacing: 1px;
}
.main-container{
    background-color: #f5f6f7;
}
.main-container-text{
    font-size: 21px;
    text-align: center;
    color: #373737;
    margin-bottom: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.sub-container-text{
    font-size: 21px;
    text-align: center;
    color: #373737;
    padding-bottom: 41px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.main-container-button{
    padding-bottom: 94px;
    text-align: center;
}
.main-container-button-click{
    display: inline-block;
    background-color: #16a085;
    text-align: center;
    padding: 21px 44px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.footer-text{
    text-align: right;
    padding-top: 47px;
    padding-bottom: 45px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
}

