.instagram{
  background-color: #f7f7f7;
  padding: 47px 0 49px 0;
}
.intagram__position{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 501px) {
    grid-template-columns: 1fr;
  }
    &__title{
      @include postTitle;
      @media screen and (max-width: 501px) {
        font-size: 14px;
      }
    }
    &__page{
      @include fontDecoration(bold);
      justify-self: flex-end;
      font-size: 13px;
      line-height: 22px;
      color: $color-text;
      @media screen and (max-width: 501px) {
        display: none;
      }
}
}
.instagram__block-image{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 10px;
  &__img{
    width: 285px;
    height: 285px;
    @media screen and (max-width: 1200px) {
      width: 100%;
      height: auto;
    }
    @media screen and (max-width: 768px) {
      width: 151px;
      height: 151px;
    }
    @media (max-width: 501px){
      width: 301px;
      height: 301px;
    }
    }
  &__img:last-child{
    @media screen and (max-width: 768px) {
      display: none;
    }
    }
  &__img:nth-child(n+2){
    @media screen and (max-width: 501px) {
      display: none;
    }
  }
}
