.footer {
  background-color: #000000;
  padding: 66px 0 70px 0;
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
.footer__block{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    @include postTitle;
    color: #f7f7f7;
  }
  &__text{
  @include textFooter;
    margin-bottom: 37px;
  }
  &__contact{
    @include textFooter;
    margin-top: 34px;
  }
  &__social{
    display: flex;
    align-items: center;
    margin-left: 6px;

  }
}
.fas.fa-rss{
  @include socialLink(#F8902E);
  color: #F8902E;
}
.fab.fa-facebook{
  @include socialLink(#39599F);
  color: #39599F;
}
.fab.fa-twitter-square{
  @include socialLink(#45B0E3);
  color: #45B0E3;
}
.fab.fa-dribbble-square{
  @include socialLink(#D97AB0);
  color: #D97AB0;
}
.fab.fa-pinterest{
  @include socialLink(#CC212C);
  color: #CC212C;
}