.header-background {
  @include displayFlex;
  .header-backgroundImage {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1200px){
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 960px){
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px){
  .container {
    max-width: 500px;
  }
}
@media (max-width: 501px){
  .container {
    max-width: 320px;
  }
  header{
    padding-top: 23px;
  };
}





