@mixin main_container{
  width: 1200px;
  margin: 0 auto;
}
@mixin displayFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin postTitle{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-text;
  margin-bottom: 24px;
}
@mixin textFooter{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #B9B9B9;
  text-align: center;
}
@mixin socialLink($border) {
  width: 34px;
  height: 34px;
  border: 2px solid $border;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  cursor: pointer;
}
@mixin fontDecoration($fontWeight){
  text-transform: uppercase;
  font-style: normal;
  font-weight: $fontWeight;
}
