.posts{
  padding: 66px 0 69px 0 ;
}
.section-post-main-title{
@include postTitle;
}
.section-post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
  grid-template-rows: repeat(2, 1fr);
  @media (max-width: 960px){
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
.section-post__block{
    display: flex;
  @media (max-width: 501px){
    flex-direction: column;
  }
    &_image-fluid{
      max-height: 140px;
      max-width: 160px;
    }
    &__item{
      margin-left: 20px;
      @media (max-width: 501px){
        margin-left: 0;
      }
      &__header{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        align-items: center;
        color: $color-text;
        @media (max-width: 501px){
          font-size: 14px;
        }
      }
      &__comment{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
        margin-bottom: 13px;
        @media (max-width: 501px){
          font-size: 11px;
        }
      }
      &__text{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        @media (max-width: 501px){
          display: none;
        }
      }
    }
  }