body{
  font-family: $font-face;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding:  0 15px;
  box-sizing: border-box;
  position: relative;
}
.top-menu{
  @media (max-width: 501px){
    display: none;
  }
  @include displayFlex;
  list-style: none;
  padding: 45px 0 51px 0 ;
  &__item{
    margin-right: 68px;
    @media screen and (max-width: 960px){
      margin-right: 34px;
    }
    @media (max-width: 768px){
      margin-right: 5px
    }
  }
  &__link:hover{
    color:#57A4A4
  }
  &__item:last-child{
    margin: 0;
  }
  &__link{
    @include fontDecoration(normal);
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-decoration: none;
    color: #4E4E4E;
  }
}
.top-menu__menu-hide{
  display: none;
  @media (max-width: 501px){
    display: flex;
    margin: 23px 0 ;
    justify-content: flex-end;
    .fas, .far{
      cursor: pointer;
      border: 1px solid black;
      width: 44px;
      color: #fff;
      background-color: #000000;
      padding: 5px 0;
      text-align: center;
    }
  }
}
.top-menu.active {
  display: block;
  position: absolute;
  background-color: #f5f5f5;
  right: 14px;
  top: 29px;
  z-index: 1;
  padding: 5px 10px;
}
.disable{
  display: none;
}
